
MNEPython/.ipynb_checkpoints/03Afirstlook-checkpoint.ipynb
MNEPython/.ipynb_checkpoints/04ApplyingMaxFilter-checkpoint.ipynb
MNEPython/.ipynb_checkpoints/06Conditions-checkpoint.ipynb
MNEPython/.ipynb_checkpoints/08TFRofPower-checkpoint.ipynb
MNEPython/.ipynb_checkpoints/01Introduction-checkpoint.ipynb
MNEPython/.ipynb_checkpoints/05ICA-checkpoint.ipynb
.spyproject/config/workspace.ini
.spyproject/config/vcs.ini
.spyproject/config/encoding.ini
.spyproject/config/defaults/defaults-workspace-0.2.0.ini
.spyproject/config/codestyle.ini
.spyproject/config/defaults/defaults-codestyle-0.2.0.ini
.spyproject/config/defaults/defaults-encoding-0.2.0.ini
.spyproject/config/defaults/defaults-vcs-0.2.0.ini
MNEPython/.ipynb_checkpoints/07EventRelatedFields-checkpoint.ipynb
MNEPython/.ipynb_checkpoints/Untitled-checkpoint.ipynb
MNEPython/.ipynb_checkpoints/01Introduction-checkpoint.ipynb
MNEPython/.ipynb_checkpoints/04ArtefactAnnotation-checkpoint.ipynb
MNEPython/.ipynb_checkpoints/01Introduction-checkpoint.ipynb
MNEPython/.ipynb_checkpoints/04ArtefactAnnotation-checkpoint.ipynb
